<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommender</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Иконки -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>           
  <body class="min-h-screen bg-black text-white">
      
    <!-- Шапка -->
    <header class="bg-black shadow-sm">
      <nav class="container mx-auto px-20 py-4">
        <div class="flex items-center justify-between">
          <a href="/" class="text-xl font-bold text-white px-2 py-2">🎬 PapaFilms</a>

          <div class="flex items-center space-x-4 mr-4">
            {% if user.is_authenticated %}
              <span class="custom-btn cursor-default">{{ user.username }}</span>

              <!-- Вертикальная линия -->
              <div class="w-px h-6 bg-gray-700"></div>
          
              <a href="{% url 'rated_movies' %}" class="custom-btn">Rated</a>
              <!-- Вертикальная линия -->
              <div class="w-px h-6 bg-gray-700"></div>

              <!-- Рекомендации -->
              <a href="{% url 'recommend' %}" class="custom-btn">Recommendations</a>

              <div class="w-px h-6 bg-gray-700"></div>
          
              <form method="post" action="{% url 'logout' %}" class="inline">
                {% csrf_token %}
                <button
                  type="submit"
                  class="custom-btn">
                  Log out
                </button>
              </form>
            {% else %}
              <a href="{% url 'login' %}" class="custom-btn">Log in</a>
              <a href="{% url 'register' %}" class="custom-btn">Sign in</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <hr class="border-t border-gray-700 mx-24 " />
    <!-- Основной контент -->
    <main class="container mx-auto px-4 py-4">
      {% block content %}{% endblock %}
    </main>
    <footer
    class="text-center text-gray-500 text-sm py-4 border-t border-gray-700 mt-8"
  >
    &copy; {{ now|date:"Y" }} FilmHubs. Все права защищены.
  </footer>
  <style>
    .custom-btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #fff;
      padding: 0.5rem 1.5rem;
      border-radius: 9999px;
      background: transparent;
      border: none;
      transition: background 0.2s;
      font-size: 1rem;
      cursor: pointer;
    }
    .custom-btn:hover, .custom-btn:focus {
      background: #222;
      outline: none;
    }
    .custom-btn.active {
      background: #222;
    }
  </style>
  </body>
</html>

